@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
/* 
  // amarillo:F4A240
  // verde: 69E8B4
  // blanco: F7F7F7
  lila: A06ECF 
  */
/* 

  @media (min-width: 576px) { ... }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }

 */

/* GENERALES */

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  text-align: center !important;
  color: #a06ecf !important;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/bg-laptop.png");
  background-size: cover;
  background-repeat:repeat;
  background-color: #f7f7f7;
  background-attachment: fixed;
}

/* BACKGROUND */
.background {
  background-image: url("./assets/bg-movil.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
}
.div-lila{
  border: 0;
  background-color: hsl(271, 50%, 93%);
  padding: 1rem;
  border-radius: 15px;
  margin-top:4rem;
}

/* PORTADA */
.logo {
  margin-top: 25vh;
}

.titulo {
  font-family: "Lato", sans-serif;
  font-weight:bold;
}


/* BIENVENIDXS */

.texto{
  font-family: "Raleway";
  font-weight: normal;
}

/* INTRO */
.card-group-intro, .card-group-intro.card {
  border: 0;
  background-color: hsl(271, 50%, 93%);
  padding: 1rem;
  border-radius: 15px;
}
.titulo-intro {
  font-family: "Raleway";
  font-weight: bold;
  color: #f4a240;
  margin: 0;
}
.texto-intro {
  font-family: "Raleway";
  color: #f4a240;
  line-height: 1em;;
}


/* ACCEDER */
.form-acceder {
  font-family: "Raleway";
  text-align: center;
  color: #a06ecf;
}


/* HOME */

/* NAV */
.nav {
  color: #f4a240 !important;
  font-family: "Lato";
  font-weight: normal;
}

/* RELOJ */
.reloj {
  font-family: "Raleway";
  text-align: center;
  color: #a06ecf;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: 10vh;
}

.texto-light {
  font-family: "Raleway";
  font-weight: 200;
  text-align: center;
  color: #69e8b4;
  margin: 0px;
}
.play {
  width: 3em;
  text-align: center;
}
/* TAREAS */
.width-web.container{
  max-width: 600px;
}
.card {
  margin: 0.7rem 0;
}
.card-header.card-tarea {
  background-color: hsl(271, 50%, 92%);
}
.card-body {
  background-color: hsl(271, 50%, 98%);
}
.card-agregar.card {
  background-color: hsl(271, 50%, 80%);
  color: #f7f7f7;
  font-family: "Raleway";
  font-weight: 400;
  border: #a06ecf;
  border-style: dashed solid;
 
}
.mate-tarea {
  width: 2em;
}

.more {
  width: 1.5em;
}
.add {
  padding: 0 0.5em;
}
.arrow.btn.btn-outline-light {
  color: #a06ecf;
  border-color: #a06ecf;
  padding: 0em;
  margin: 0.3em;
}
.texto-tarea {
  color: #a06ecf !important;
  font-family: "Raleway";
  font-weight: 300;
  text-align: left;
  margin: 0;
}
.cuenta-mates {
  color: #a06ecf !important;
  font-family: "Raleway";
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 1em 0;
}
.texto-tiempo {
  color: #a06ecf !important;
  font-family: "Raleway";
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 1em 0;
}
.texto-input.form-control.form-control-sm {
  font-family: "Raleway";
  font-weight: lighter;
  background-color: none;
  border: 0.2px solid hsl(271, 50%, 84%);
  border-radius: 0;
  background-color: hsl(271, 50%, 98%);
}
.texto-comentarios.form-control.form-control-sm {
  font-family: "Raleway";
  font-weight: lighter;
  background-color: none;
  border: 0.2px solid hsl(271, 50%, 84%);
  border-radius: 0;
  margin: 2em 0;
  background-color: hsl(271, 50%, 98%);
}
.form-control {
  color: #a06ecf;
}
.btn.btn-outline-light {
  border: 0;
  background: none;
  padding: 0;
  margin: 0.3em;
}

.tiempo-total.card {
  border: 0.2px solid #f4a240;
  background-color: hsl(33, 89%, 80%);
  padding: 0;
  
}
.tiempo-total-texto {
  background-color: hsl(33, 89%, 80%);
  padding: 0;
  font-family: "Raleway";
  color: #f7f7f7;
  font-weight: 700;
  margin: 0em 0.3em;
}
/* BREAKS */
.texto-break {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 0;
  color: #a06ecf;
}
.logo-break {
  max-width: 90vw;
}

/* VERSION WEB */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .texto-bienvenidxs{
    font-size: 1.5rem;
  }
  .texto-intro {
    font-family: "Raleway";
    color: #f4a240;
    line-height: 1em;
    font-size: 1.5rem;
  }
  .imagen{
    max-width: 300px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}



/* NO USADOS DE LOGIN */
/* PERFIL */
/* .user {
  width: 20vw;
} */
/* .logIn {
  margin-right: 0.5em;
} */

